@import '/src/assets/stylesheet/main.module.scss';

.section {
  padding: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  .hdr {
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
  }

  .cnt {
    padding: 6px 0;
    height: 100%;
  }

  .ftr {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    height: 100%;
    justify-content: center;
  }

  .btnGrp {
    display: flex;
    gap: 6px;
  }
}