@import '/src/assets/stylesheet/main.module.scss';

.prdctContent {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;

  .left {
    width: calc(60% - 30px);
    margin-right: 30px;

    img {
      width: 100%;
    }
  }

  .right {
    width: 40%;
  }
}