@import '/src/assets/stylesheet/main.module.scss';

%transition {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.toast {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  background-color: $white;
  border-radius: 4px;
  font-size: 1rem;
  overflow: hidden;
  padding: 12px;
  position: relative;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
  animation: moveIn 0.5s;

  .toastIcon {
    display: flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
  }

  .toastBody {
    display: flex;
    flex-direction: row;
  }

}