@import '/src/assets/stylesheet/main.module.scss';



.products {
  height: auto;
  position: relative;
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(2, minmax(360px, 1fr));
  gap: 16px;
  grid-gap: 16px;
  grid-auto-rows: 360px;
  z-index: 0;

  .item {
    display: flex;
    flex-direction: column;
    border: 1px solid $gray1;
    border-radius: 6px;

    .itemContainer {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      img {
        align-self: center;
        margin: auto 0;
        width: 100%;
        border-radius: 6px 6px 0 0;
        object-fit: cover;
      }
    }

    .title,
    .price {
      text-align: center;
      margin: 2px 0;

      span {
        font-family: $ff-text;
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 10px;
      height: 40px;

      span {
        font-size: 14px;
        color: $gray6;
      }
    }

    .price {
      span {
        font-size: 0.85rem;
        color: $gray4;
      }
    }

    .link {
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      padding: 16px 0;
      border-top: 1px solid $gray1;

      .cart,
      .info {
        width: 100%;
        text-align: center;
        color: $gray6;

        span:hover {
          color: $mainblue;
        }
      }

      .cart {
        border-right: 1px solid $gray1;
      }
    }
  }
}



.ftr {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  height: 100%;
  justify-content: center;
}

@media screen and (min-width: 3108px) {
  .products {
    grid-template-rows: repeat(1, minmax(360px, 1fr));
  }
}

@media screen and (max-width: 1267px) {
  .products {
    grid-template-rows: repeat(4, minmax(360px, 1fr));
  }
}

@media screen and (max-width: 1031px) {
  .products {
    grid-template-rows: repeat(5, minmax(360px, 1fr));
  }
}

@media screen and (max-width: 775px) {
  .products {
    grid-template-rows: repeat(10, minmax(360px, 1fr));
  }
}